.article{
  margin-top: 30px;
}
.card__btn{
  padding: 3px 10px;
  margin-top:5px;
  border: none;
  border: 1px solid rgb(232, 230, 230);
}
.card__span{
  margin: 0 7px;
}
.card__contenedor-btn{
  text-align: center;
}
.cart__messge{
  position:absolute;
  top:470px;
  padding: 15px 25px;
  background-color: rgb(241, 86, 86);
  color: white;
  border-radius: 5px;
}
.cart__messge-ocultar{
  display: none;
}