.nav-list{
  display: flex;
  list-style: none;
   height: auto;
   margin-top: 13px;
}
.link{
  text-decoration: none;
  color: black;
}
.nav-link{
  text-decoration: none;
  display: inline-block;
  padding: 7px 30px;
  color: grey;
}
.nav-link:hover{
  background-color:rgb(232, 225, 225);
  color: white;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px  100px 0 100px;

}
.navbar-img{

  width: 150px;
  height: 40px;
  margin-bottom: 5px;
  
}