*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f6f7;
}
.contenedor-principal-header{
  height: auto;
  border: 2px solid rgb(242, 241, 241);
  padding: 0px 0;
  box-shadow: 0px 0px 10px rgb(203, 203, 203);
}
.app-title{
  text-align: center;
}